name: Build and Push

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}

    steps:
      - uses: actions/checkout@v6
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: |
            latest=${{ github.event_name != 'pull_request' }}
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Debug#1
        run: |
          echo "Bake file:"
          jq . ${{ steps.meta.outputs.bake-file }}
      - name: Build and push
        uses: docker/bake-action@v6
        id: push
        with:
          files: |
            docker-bake.hcl
            cwd://${{ steps.meta.outputs.bake-file }}
          targets: default
          push: ${{ github.event_name != 'pull_request' }}
          provenance: true
          set: |
            default.cache-from=type=gha
            default.cache-to=type=gha,mode=max
      - name: Debug#2
        run: |
          echo "Metadata: ${{ steps.push.outputs.metadata }}"
      # - name: Attest build provenance
      #   uses: actions/attest-build-provenance@v3
      #   with:
      #     subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      #     subject-digest: $ { { steps.push.outputs.digest }}
      #     push-to-registry: true
